.navbar {
  margin-bottom: 20px !important;
}

.highlight {
  margin-top: 5px;
}

.highlight:hover {
  background-color: #ccc;
  cursor: pointer;
}

.articles {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 10px;
  justify-items: center;
}

.card-body {
  overflow-y: scroll;
  margin-bottom: 10px;
}

.card-title {
  font-weight: 600;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}